---
layout: null
---

<div id="popup-template">
    
    <!-- CONTENT -->
    <div id="the-content">  
        <h3>Les <span class="theme-color">Chambre d'Hôtes</span></h3>
                          
        {% for e in site.data.chambres %}
        <div class="ts-location row">
            <div class="ts-title col-md-10"><span class="bold400">{{e.name}}</span>{% if e.url %}<a href="{{e.url}}"> [site]</a>{% endif %}
            </div>
            <div class="ts-distance col-md-2">{{e.distance}}</div>
            <div class="ts-details col-md-12">
                <ul>
                    {% for d in e.details %}
                    <li>{{d}}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endfor %}
    </div><!--End of CONTENT-->
    
</div><!--End of POPUP TEMPLATE 1-->